html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: whitesmoke;
}

#canvas-state,
#canvas-county {
    min-width: 975px;
    min-height: 625px;
}
