{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/base.css' %}">
    <!-- load fonts, icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block addHead_content %}{% endblock %}
</head>

<body>
    <nav class="baseNav">
        <ul>
            <li><a href="home">home</a></li>
            <li><a href="index">map</a></li>
            <li><a href="#">budget</a></li>
            <li><a href="about">about</a></li>
        </ul>
    </nav>

    {% block body_content %}
    {% endblock %}
    
    <footer class="baseFoot">
        <ul>
            <li>Contact</li>
            <li>Sitemap</li>
            <li>Privacy Policy</li>
        </ul>
        <p id="year"> Copyright &copy
            <script>
                var curYear = new Date().getFullYear()
                document.write(curYear)
            </script>
        </p>
    </footer>
</body>

{% block addScript_content %}
{% endblock %}

</html>